{"Actor" {"actor!" :methods}
 "ActorGestureListener" {"actor-gesture-listener!" :methods}
 "Align" {"align" :static-fields-camel}
 "com.badlogic.gdx.graphics.g2d.Animation" {"animation" :methods
                                            "animation!" :methods}
 "Animation.PlayMode" {"play-mode" :static-fields-upper}
 "AnimationController" {"animation-controller" :methods
                        "animation-controller!" :methods}
 "Application" {"app!" :methods}
 "Array" {"gdx-array" :methods
          "gdx-array!" :methods}
 "ArrayMap" {"gdx-array-map" :methods
             "gdx-array-map!" :methods}
 "AssetManager" {"asset-manager" :methods
                 "asset-manager!" :methods}
 "Audio" {"audio!" :methods}
 "Bezier" {"bezier" :methods
           "bezier!" :methods}
 "BitmapFont" {"bitmap-font" :methods
               "bitmap-font!" :methods}
 "BlendingAttribute" {"attribute :blending" :constructors
                      "attribute-type :blending" :static-fields-pascal
                      "attribute! :blending" :static-methods}
 "Body" {"body!" :methods}
 "BodyDef" {"body-def" :fields}
 "BoundingBox" {"bounding-box" :methods
                "bounding-box!" :methods}
 "Bresenham2" {"bresenham-2" :methods
               "bresenham-2!" :methods}
 "BSpline" {"b-spline" :methods
            "b-spline!" :methods}
 "Button.ButtonStyle" {"style :button" :constructors}
 "CatmullRomSpline" {"catmull-rom-spline" :methods
                     "catmull-rom-spline!" :methods}
 "Circle" {"circle" :methods
           "circle!" :methods}
 "CircleMapObject" {"map-object :circle" :methods}
 "ChangeListener" {"change-listener!" :methods}
 "ClickListener" {"click-listener!" :methods}
 "Color" {"color" :static-fields-upper
          "color!" :methods}
 "ColorAttribute" {"attribute :color" :constructors
                   "attribute-type :color" :static-fields-pascal
                   "attribute! :color" :static-methods}
 "ConvexHull" {"convex-hull" :methods
               "convex-hull!" :methods}
 "ChainShape" {"chain-shape" :methods
               "chain-shape!" :methods}
 "CheckBox" {"check-box" :methods
             "check-box!" :methods}
 "CheckBox.CheckBoxStyle" {"style :check-box" :constructors}
 "CircleShape" {"circle-shape" :methods
                "circle-shape!" :methods}
 "CubemapAttribute" {"attribute :cubemap" :constructors
                     "attribute-type :cubemap" :static-fields-pascal
                     "attribute! :cubemap" :static-methods}
 "DelaunayTriangulator" {"delaunay-triangulator" :methods
                         "delaunay-triangulator!" :methods}
 "DepthTestAttribute" {"attribute :depth-test" :constructors
                       "attribute-type :depth-test" :static-fields-pascal
                       "attribute! :depth-test" :static-methods}
 "Dialog" {"dialog" :methods
           "dialog!" :methods}
 "DistanceJointDef" {"joint-def :distance" :fields}
 "DragListener" {"drag-listener!" :methods}
 "EarClippingTriangulator" {"ear-clipping-triangulator" :methods
                            "ear-clipping-triangulator!" :methods}
 "EdgeShape" {"edge-shape" :methods
              "edge-shape!" :methods}
 "Ellipse" {"ellipse" :methods
            "ellipse!" :methods}
 "EllipseMapObject" {"map-object :ellipse" :methods}
 "Environment" {"environment" :methods
                "environment!" :methods}
 "Files" {"files!" :methods}
 "Fixture" {"fixture!" :methods}
 "FixtureDef" {"fixture-def" :fields}
 "FloatAttribute" {"attribute :float" :constructors
                   "attribute-type :float" :static-fields-pascal
                   "attribute! :float" :static-methods}
 "FloatCounter" {"float-counter" :methods
                 "float-counter!" :methods}
 "FocusListener" {"focus-listener!" :methods}
 "FrictionJointDef" {"joint-def :friction" :fields}
 "Frustum" {"frustum" :methods
            "frustum!" :methods}
 "GearJointDef" {"joint-def :gear" :fields}
 "GeometryUtils" {"geometry!" :static-methods}
 "GestureDetector" {"gesture-detector!" :methods}
 "Graphics" {"graphics!" :methods}
 "GridPoint2" {"grid-point-2" :methods
               "grid-point-2!" :methods}
 "GridPoint3" {"grid-point-3" :methods
               "grid-point-3!" :methods}
 "GL20" {"gl!" :methods
         "gl" :static-fields-upper}
 "HexagonalTiledMapRenderer" {"hexagonal-tiled-map" :methods
                              "hexagonal-tiled-map!" :methods}
 "HorizontalGroup" {"horizontal" :methods
                    "horizontal!" :methods}
 "Image" {"image" :methods
          "image!" :methods}
 "ImageButton" {"image-button" :methods
                "image-button!" :methods}
 "ImageButton.ImageButtonStyle" {"style :image-button" :constructors}
 "ImageTextButton" {"image-text-button" :methods
                    "image-text-button!" :methods}
 "ImageTextButton.ImageTextButtonStyle" {"style :image-text-button" :constructors}
 "Input" {"input!" :methods}
 "Input.Keys" {"key-code" :static-fields-upper
               "key-pressed?" :static-fields-upper}
 "Input.Buttons" {"button-code" :static-fields-upper
                  "button-pressed?" :static-fields-upper}
 "InputProcessor" {"input-processor!" :methods}
 "Interpolation" {"interpolation" :static-classes}
 "Intersector" {"intersector!" :static-methods}
 "IntAttribute" {"attribute :int" :constructors
                 "attribute-type :int" :static-fields-pascal
                 "attribute! :int" :static-methods}
 "IsometricStaggeredTiledMapRenderer" {"isometric-staggered-tiled-map" :methods
                                       "isometric-staggered-tiled-map!" :methods}
 "IsometricTiledMapRenderer" {"isometric-tiled-map" :methods
                              "isometric-tiled-map!" :methods}
 "Joint" {"joint!" :methods}
 "Label" {"label" :methods
          "label!" :methods}
 "Label.LabelStyle" {"style :label" :constructors}
 "MapLayer" {"map-layer" :methods
             "map-layer!" :methods}
 "MapLayers" {"map-layers" :methods
              "map-layers!" :methods}
 "MapObject" {"map-object!" :methods}
 "MapObjects" {"map-objects" :methods
               "map-objects!" :methods}
 "Material" {"material" :methods
             "material!" :methods}
 "MathUtils" {"math!" :static-methods}
 "Matrix3" {"matrix-3" :methods
            "matrix-3!" :methods}
 "Matrix4" {"matrix-4" :methods
            "matrix-4!" :methods}
 "ModelBatch" {"model-batch" :methods
               "model-batch!" :methods}
 "ModelBuilder" {"model-builder" :methods
                 "model-builder!" :methods}
 "ModelInstance" {"model" :constructors
                  "model!" :methods}
 "MouseJointDef" {"joint-def :mouse" :fields}
 "Music" {"music" :methods
          "music!" :methods}
 "Net" {"net!" :methods}
 "NinePatch" {"nine-patch" :methods
              "nine-patch!" :methods}
 "NinePatchDrawable" {"drawable :nine-patch" :constructors}
 "OrthogonalTiledMapRenderer" {"orthogonal-tiled-map" :methods
                               "orthogonal-tiled-map!" :methods}
 "OrthographicCamera" {"orthographic" :methods
                       "orthographic!" :methods}
 "ParticleEffect" {"particle-effect" :methods
                   "particle-effect!" :methods}
 "PerspectiveCamera" {"perspective" :methods
                      "perspective!" :methods}
 "Pixmap" {"pixmap" :methods
           "pixmap!" :methods}
 "Pixmap.Format" {"pixmap-format" :static-fields-pascal}
 "Plane" {"plane" :methods
          "plane!" :methods}
 "Plane.PlaneSide" {"plane-side" :static-fields-pascal}
 "Polygon" {"polygon" :methods
            "polygon!" :methods}
 "PolygonMapObject" {"map-object :polygon" :methods}
 "PolylineMapObject" {"map-object :polyline" :methods}
 "PolygonShape" {"polygon-shape" :methods
                 "polygon-shape!" :methods}
 "Polyline" {"polyline" :methods
             "polyline!" :methods}
 "Preferences" {"pref!" :methods}
 "PrismaticJointDef" {"joint-def :prismatic" :fields}
 "ProgressBar.ProgressBarStyle" {"style :progress-bar" :constructors}
 "PulleyJointDef" {"joint-def :pulley" :fields}
 "Quaternion" {"quaternion" :methods
               "quaternion!" :methods}
 "Ray" {"ray" :methods
        "ray!" :methods}
 "Rectangle" {"rectangle" :methods
              "rectangle!" :methods}
 "RectangleMapObject" {"map-object :rectangle" :methods}
 "RevoluteJointDef" {"joint-def :revolute" :fields}
 "RopeJointDef" {"joint-def :rope" :fields}
 "Scaling" {"scaling" :static-fields-camel}
 "ScrollPane" {"scroll-pane" :methods
               "scroll-pane!" :methods}
 "ScrollPane.ScrollPaneStyle" {"style :scroll-pane" :constructors}
 "Segment" {"segment" :methods
            "segment!" :methods}
 "SelectBox" {"select-box" :methods
              "select-box!" :methods}
 "SelectBox.SelectBoxStyle" {"style :select-box" :constructors}
 "ShapeRenderer" {"shape" :methods
                  "shape!" :methods}
 "ShapeRenderer.ShapeType" {"shape-type" :static-fields-pascal}
 "Skin" {"skin" :methods
         "skin!" :methods}
 "Slider" {"slider" :methods
           "slider!" :methods}
 "Sound" {"sound" :methods
          "sound!" :methods}
 "Sphere" {"sphere" :methods
           "sphere!" :methods}
 "SplitPane.SplitPaneStyle" {"style :split-pane" :constructors}
 "SpriteDrawable" {"drawable :sprite" :constructors}
 "Stack" {"stack" :methods
          "stack!" :methods}
 "Stage" {"stage" :methods
          "stage!" :methods}
 "Table" {"table" :methods
          "table!" :methods}
 "TextureAtlas" {"texture-atlas" :methods
                 "texture-atlas!" :methods}
 "TextureAttribute" {"attribute :texture" :constructors
                     "attribute-type :texture" :static-fields-pascal
                     "attribute! :texture" :static-methods}
 "TextButton" {"text-button" :methods
               "text-button!" :methods}
 "TextButton.TextButtonStyle" {"style :text-button" :constructors}
 "TextField" {"text-field" :methods
              "text-field!" :methods}
 "TextField.TextFieldStyle" {"style :text-field" :constructors}
 "TextureMapObject" {"map-object :texture" :methods}
 "TextureRegion" {"texture" :methods
                  "texture!" :methods}
 "TextureRegionDrawable" {"drawable :texture-region" :constructors}
 "Tree" {"tree" :methods
         "tree!" :methods}
 "Touchpad.TouchpadStyle" {"style :touchpad" :constructors}
 "TiledMap" {"tiled-map" :methods
             "tiled-map!" :methods}
 "TiledMapTileLayer" {"tiled-map-layer" :methods
                      "tiled-map-layer!" :methods}
 "TiledMapTileLayer.Cell" {"tiled-map-cell" :methods
                           "tiled-map-cell!" :methods}
 "Tree.TreeStyle" {"style :tree" :constructors}
 "Vector2" {"vector-2" :methods
            "vector-2!" :methods}
 "Vector3" {"vector-3" :methods
            "vector-3!" :methods}
 "VertexAttributes.Usage" {"usage" :static-fields-pascal}
 "VerticalGroup" {"vertical" :methods
                  "vertical!" :methods}
 "WeldJointDef" {"joint-def :weld" :fields}
 "WheelJointDef" {"joint-def :wheel" :fields}
 "Window" {"window" :methods
           "window!" :methods}
 "Window.WindowStyle" {"style :window" :constructors}
 "WindowedMean" {"windowed-mean" :methods
                 "windowed-mean!" :methods}
 "World" {"box-2d" :methods
          "box-2d!" :methods}}
