body {
	font-family: "Fira Sans", "Source Sans Pro", "Helvetica Neue", sans-serif;
	background-color: #293134;
	color: #c1cbc2;
	font-size: 16px;
	line-height: 1.4em;
}


a {
	transition-property: color;
	transition-duration: 200ms;
	transition-timing-function: cubic-bezier(.53,.4,.46,.75);
	color: #f2ecd7;
	box-shadow: 0 2px 0 0 rgba(255,255,255,0.1);
	text-decoration: none;
}

a:hover {
	color: #f2dc77;
}

.sidebar {
	transition-property: opacity;
	transition-duration: 200ms;
	transition-timing-function: cubic-bezier(.53,.4,.46,.75);
	opacity: 0.6;
}

.sidebar:hover {
	opacity: 0.9;
}

.ns {
	font-size: 24px;
	padding: 20px 0 0px 0;
	margin-bottom: 10px;
	display: inline-block;
	color: #ccf;
}

.name {
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 10px;
}

.content {
	padding: 20px 0px 20px 20px;
}

.content code {
	box-shadow: 0 0 0 1px rgba(255,255,255,0.2);
	border-radius: 3px;
	padding: 0px 3px;
	background: rgba(255,255,255,0.1);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

.content code, .content pre {
	font-family: "Fira Mono", "Source Code Poro", "Consolas", "Menlo", monospace;
}

.item {
	
}

.clj {
	margin-bottom: 2em;
}

.c-head {
	font-size: 20px;
	margin-bottom: 1em;
	color: #ccf;
	font-size: 1.5em;
}

.c-doc {
}

.c-src {
	margin-bottom: 2em;
}

.java {
	margin-bottom: 2em;
}

.j-text {
	margin-bottom: 5px;
}

.j-item * {
	transition-property: opacity;
	transition-duration: 200ms;
	transition-timing-function: cubic-bezier(.53,.4,.46,.75);
}

.j-item {
	margin-bottom: 0px;
	padding: 0.8em 0 0.8em 0;
	line-height: 1.4em;
	background: rgba(0, 0, 0, 0.15);
}
.j-item:nth-child(2n) {
	background: rgba(0, 0, 0, 0.25);
}
.j-name {
	color: #69e;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
	margin: 0 0px 0 20px;
	display: inline-block;
	font-size: 1.4em;
	line-height: 1.4em;
	border-right: 5px transparent solid;
	box-shadow: 0 2px 0 0 rgba(150,200,255,0.08);
}

.j-args {
	padding-left: 1em;
	opacity: 0.4;
	display: inline-block;
}

.j-item:hover .j-args {
	opacity: 0.95;
}

.j-arg {
	
}

.j-type {
	opacity: 0.5;
}

.j-doc {
	display: block;
	padding: 17px 20px 0px 20px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
